*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #020817;
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
}

input:focus {
  outline: none;
  border-color: #22d3ee;
}

button:focus {
  outline: none;
}
